---
- name: virtual_alias_maps餈質
  lineinfile:
    dest: '{{ mailserver.virtual.alias_maps }}'
    state: present
    line: '{{ item.mailaccount }} {{ item.alias }}'
  with_items: '{{ mailserver.mailtransfer }}'
  notify: postmap virtual_alias_maps

- name: virtual_alias_maps餈質
  lineinfile:
    dest: '{{ mailserver.aliases }}'
    state: present
    line: '{{ item.alias }}: {{ item.transfer }}'
  with_items: '{{ mailserver.mailtransfer }}'
  notify: newaliases


